*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
nav p{
    position: relative;
    left: 150px;
    font-size: 22px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.id1{
    display: flex;
    gap: 40px;
}
.id2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 8px;
    right: 160px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 6px;
}
.id2:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.id3{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    position: relative;
    left: 150px;
    list-style-type: none;
    display: flex;
    cursor: pointer;
}
li{
    margin-right: 15px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.div1{
    width: 100%;
    height: 300px;
    background-color: rgb(30, 31, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}
.b1{
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.b1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    color: aliceblue;
}
.b1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}
.div2{
    width: 100%;
    height: 900px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b2{
    width: 90%;
    height: 850px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 15px;
}
.b2 .a1{
    width: 280px;
    height: 380px;
    border: 1px solid grey;
}
.a1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.c1{
    width: 280px;
    height: 190px;
    background-color: rgb(148, 146, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(51, 51, 51);
    position: relative;
}
.d1{
    width: 280px;
    height: 190px;
    background-color: white;
   text-align: center;
}
.d1 h2{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.d1 p{
    margin-top: 10px;
}
.d1 button{
    border: 1px solid black;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 30px;
}
.d1 button:hover{
    background-color: rgb(30, 31, 40);
    color: aliceblue;
    cursor: pointer;
}
.class{
    width: 45px;
    height: 20px;
    background-color: black;
    color: white;
   font-size: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   position: absolute;
   top: 5px;
   right: 5px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(33, 33, 63) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 17px;
}