*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 55px ;
    background-color: rgb(33, 33, 63);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
nav h1{
    position: relative;
    right: 150px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    display: flex;
    position: relative;
    left: 150px;
    cursor: pointer;
}
li{
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
nav li:hover{
    cursor: pointer;
    opacity: 0.8;
}
.div1{
    width: 100%;
    height: 350px;
    background-color: rgb(43, 82, 187);
    display: flex;
    justify-content: center;
    align-items: center;
}
.a1{
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}
.a1 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 10px;
}
.a1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.a1 button{
    width: 180px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.a1 button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.div2{
    width: 100%;
    height: 580px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a2{
    width: 800px;
    height: 400px;
    background-color: white;
}
.a2 h1{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.a2 p{
    margin-top: 20px;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.a2 ul{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.a2 li{
    margin-top: 6px;
}
.div3{
    width: 100%;
    height: 450px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a3{
    width: 800px;
    height: 400px;
    background-color: aliceblue;
}
.a3 h1{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.a3 p{
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.div4{
    width: 100%;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a4{
    width: 800px;
    height: 400px;
    background-color: white;
}
.a4 h1{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.a4 p{
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(33, 33, 63) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 17px;
}